<app-context-menu (onManualChange)="onManualChange($event)"></app-context-menu>

<div class="content-block">

    <h1>{{title}}</h1>

    <dx-data-grid id="contentsGrid" [dataSource]="contents" keyExpr="id" [allowColumnReordering]="true"
        [allowColumnResizing]="true" [showBorders]="true" [showColumnLines]="true"
        [showRowLines]="true" (onRowInserted)="onRowInserted($event)" (onRowUpdated)="onRowUpdated($event)"
        (onRowRemoved)="onRowRemoved($event)" (onExporting)="onExporting($event)" (onEditorPreparing) ="onEditorPreparing($event)" (onFocusedRowChanged)="onFocusedRowChanged($event)">
        <dxo-paging [enabled]="true" [pageSize]="50"></dxo-paging>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxo-filter-panel [visible]="true"></dxo-filter-panel>
        <dxo-export [enabled]="true"></dxo-export>
        <dxo-editing mode="row" [useIcons]="true" [allowUpdating]="hasEditPermission"
            [allowDeleting]="hasDeletePermission" [allowAdding]="hasAddPermission">
        </dxo-editing>
        <dxi-column dataField="name" caption="Name">
            <dxi-validation-rule type="required" message="Name is required"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="description" caption="Description">
            <dxi-validation-rule type="required" message="Description is required"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="parentId" caption="Parent">
            <dxo-lookup [dataSource]="contents" displayExpr="name" valueExpr="id"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="sortOrder" caption="Sort Order">
        </dxi-column>
        <dxi-column dataField="pageId" caption="Page">
            <dxi-validation-rule type="required" message="Page is required"></dxi-validation-rule>
            <dxo-lookup [dataSource]="pages" displayExpr="name" valueExpr="id"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="modifiedBy" caption="Modified By" [allowEditing]="false" width="10%">
        </dxi-column>
        <dxi-column dataField="modifiedOn" caption="Modified On" dataType="datetime" format="yyyy-MM-dd HH:mm:ss" width="8%"
            [allowEditing]="false">
        </dxi-column>
    </dx-data-grid>

</div>

<dx-load-panel [closeOnOutsideClick]="false" [position]="{ of: '#contentsGrid' }" [(visible)]="isLoadPanelVisible">
</dx-load-panel>