
::ng-deep .error-title {
    color: red;
}

::ng-deep .warning-title {
    color: orange;
}

::ng-deep .dx-accordion-item:first-child {
    min-height: 40px;
}

#tech-details {
    white-space: pre-line;
}
