ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.horizontal li {
    float: right;
}

ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

ul li a:hover {
    color: #020024;
}

.separator {
    border-left: 1px solid lightgray;
    height: 32px;
    float: right;
    margin-top: 10px;
}