.float-right {
    float: right;
}

.btn {
    margin-right: 10px;
}

.fa-stack-1x {
    color: #f05b41;
}

.fa-sm {
    font-size:0.69em;
}

#contents-container {
    padding: 0px 0px 0px 10px;
}

#contents-container h3 {
    margin: 0 !important;
}

ul {
    list-style-type: none;
    padding-bottom: 10px;
    padding-left: 0px;
}

li {
    float: left;
    padding-right: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.html-editor {
    border: none;
}

ul li span {
    font-family: "Helvetica Neue", "Segoe UI", helvetica, verdana, sans-serif;
    font-weight: 400;
}