<div id="contents-container">
    
    <div class="float-right">

        <dx-button class="btn" (click)="linkManualPage()" type="default" [visible]="showLinkManualPage"
            hint="Copy the URL for this manual and page to the clipboard">
            <span class="fa-stack fa-sm">
                <i class="fa fa-folder fa-stack-2x"></i>
                <i class="fa fa-link fa-stack-1x"></i>
            </span>
        </dx-button>

        <dx-button class="btn" (click)="linkPage()" type="default"
            hint="Copy the URL for this page to the clipboard">
            <span class="fa-stack fa-sm">
                <i class="fa fa-file fa-stack-2x"></i>
                <i class="fa fa-link fa-stack-1x"></i>
            </span>
        </dx-button>

        <dx-button class="btn" (click)="edit()" [visible]="hasEditPermission" type="default" icon="edit">
        </dx-button>

    </div>

    <h1>{{title}}</h1>

    <ul *ngIf="pageTags && pageTags.length > 0">
        <li *ngFor="let tag of pageTags">
            <span><i class="fa fa-tags"></i>{{tag.name}}</span>
        </li>
    </ul>
    <br>
    <dx-html-editor [value]="htmlText" height="100%" readOnly="true" class="html-editor"></dx-html-editor>
</div>

<dx-load-panel [closeOnOutsideClick]="false" [(visible)]="isLoadPanelVisible">
</dx-load-panel>