################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PPM.DataModel/bin
/PPM.DataModel/obj
/PPM.Services/bin
/PPM.Services/obj
/PPM.Services.UnitTests/bin
/PPM.Services.UnitTests/obj
/PPM.WebAPI/bin
/PPM.WebAPI/obj
/.vs
/PPM.WebAPI.LoadTests/Properties/AssemblyInfo.cs
/PPM.WebAPI.WebAndLoadTests/obj/Debug
/PPM.WebAPI.WebAndLoadTests/bin/Debug
/PPM.WebAPI.WebAndLoadTests/Properties/AssemblyInfo.cs
/TestResults
/WebAndLoadTestProject1/obj/Debug
/WebAndLoadTestProject1/bin/Debug
/WebAndLoadTestProject1/Properties/AssemblyInfo.cs
/Local.testsettings
/WebAndLoadTestProject1/WebTest1.webtest
/WebAndLoadTestProject1/LoadTest1.loadtest
/PPM.WebAPI.WebAndLoadTests/LoadTest1.loadtest
/PPM.WebAPI.LoadTests/UnitTest1.cs
/packages/Dapper.1.50.4
/packages/EPPlus.4.5.2.1
/packages/Newtonsoft.Json.10.0.3
/packages/Dapper.1.50.5
/packages
/packages/RestSharp.106.3.0
/packages/Newtonsoft.Json.11.0.2
/PPM.WebAPI.WebAndLoadTests/obj/Release
/PPM.WebAPI.WebAndLoadTests/bin/Release
/PPM.WebAPI/PPMWebApi.log
/PPM.WebAPI/Properties/PublishProfiles
/Hana.DataModel/bin/Debug/netstandard2.0
/Hana.DataModel/bin/Release/netstandard2.0
/Hana.DataModel/obj/Debug/netstandard2.0
/Hana.DataModel/obj/Release/netstandard2.0
/Hana.DataModel/obj
/.cr/personal/FavoritesList
/PPM.WebAPI/SapMonthEndProcessingHistory/Input
/PPM.WebAPI/SapMonthEndProcessingHistory/Output
